@using MvcTicariOtomasyon.Models.Class;
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞ YAP</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunAd</td>
            <td>@item.UrunMarka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat₺</td>
            <td>@item.SatisFiyat₺</td>
            <td>@item.Category.KategoriAd</td>
            <td><a href="/Product/UrunSil/@item.UrunID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Product/UrunGetir/@item.UrunID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Product/SatisYap/@item.UrunID" class="btn btn-outline-default" style="background-color:chocolate; color:white">Satış Yap</a></td>
        </tr>
    }
</table>
<a href="/Product/YeniUrun/" class="btn btn-outline-primary">Yeni Ürün</a>