@model MvcTicariOtomasyon.Models.Class.SalesTransaction
@{
    ViewBag.Title = "SatisYap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.UrunID)
    <input type="text" name="UrunID" value="@ViewBag.dgr1" class="form-control" readonly />
    <br />
    @Html.LabelFor(x => x.PersonelID)
    @Html.DropDownListFor(x => x.PersonelID, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariID)
    @Html.TextBoxFor(x => x.CariID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    <input type="number" class="form-control" max="10" min="1" placeholder="Adet girin" id="txt1" onchange="sum();" name="Adet" /> @*bir şey değiştiği zaman sum metodu devreye girsin*@
    <br />
    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.dgr2" class="form-control" id="txt2" onkeyup="sum();" />
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar" value="0" class="form-control" id="txt3" readonly />
    <br />
    <button class="btn btn-outline-info">Satış Yap</button>
</form>
<br />
@*<input type="text" id="txt2" onkeyup="sum();" /> klavyede işlem yapıldığında*@
@*<input type="text" id="txt3" />*@
<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value; //sayfa içerisinde su id'li değeri alacaksın
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2); // dönüşüm uygulayacak
        if (!isNaN(sonuc)) { //sonuc değişkeni null değilse
            document.getElementById('txt3').value = sonuc;
        }
    }
</script>