@using MvcTicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li style="background-color:lavender">Departman Adı: @ViewBag.d</li>
</ol>

<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>@item.PersonelAd</td>
            <td>@item.PersonelSoyad</td>
            <td>@item.PersonelGorsel</td>
            <td><a href="#" class="btn btn-default" style="background-color:cornflowerblue">Satışlar</a></td>
        </tr>
    }
</table>
