@using MvcTicariOtomasyon.Models.Class
@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>@item.PersonelAd</td>
            <td>@item.PersonelSoyad</td>
            <td>@item.PersonelGorsel</td>
            <td>@item.Department.DepartmanAd</td>
            <td><a href="/Employee/PersonelGetir/@item.PersonelID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Employee/Detay/@item.PersonelID" class="btn btn-outline-group" style="background-color:lightsteelblue; color:white">Detay</a></td>
        </tr>
    }
</table>
<a href="/Department/DepartmanEkle/" class="btn btn-outline-primary">Personel Ekle</a>