@model MvcTicariOtomasyon.Models.Class.Employee
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Employee", FormMethod.Post))
{
    <div class="form-method">
        @Html.HiddenFor(x => x.PersonelID)
        @Html.LabelFor(x => x.PersonelAd)
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelSoyad)
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.PersonelGorsel)
        @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Department)
        @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

        <br />
        <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>
    </div>
}