@using MvcTicariOtomasyon.Models.Class
@model List<SalesTransaction>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table id="tbl1" class="table table-light" style="margin-top:20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SatisID</td>
            <td>@item.Product.UrunAd</td>
            <td>@item.Customer.CariAd @item.Customer.CariSoyad</td>
            <td>@item.Employee.PersonelAd @item.Employee.PersonelSoyad</td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.ToplamTutar</td>
            <td>@item.Tarih</td>
            <td><a href="/Sale/SatisGetir/@item.SatisID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Sale/SatisDetay/@item.SatisID" class="btn btn-outline-group" style="background-color:lightsteelblue; color:white">Detay</a></td>
        </tr>
    }
</table>
<a href="/Sale/YeniSatis/" class="btn btn-outline-primary">Yeni Satış Yap</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

    $('#tbl1').dataTable({});

</script>