@using MvcTicariOtomasyon.Models.Class
@model List<InvoiceItem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />

<table class="table table-default" style="background-color:lavender">
    <tr><td></td></tr>
</table>

<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaKalemID</td>
            <td>@item.Aciklama</td>
            <td>@item.Miktar</td>
            <td>@item.BirimFiyat</td>
            <td>@item.Tutar</td>
        </tr>
    }
</table>
<a href="/Invoice/YeniKalem/" class="btn btn-default" style="background-color:khaki">Yeni Kalem Girişi</a>